.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  height: calc(100vh - 150px);
}
.title {
  margin-top: 50px;
  font-size: large;
  height: 100%;
}
.version {
  justify-self: flex-end;
}
